<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>piplining functions within templates</title>
    </head>
    <body>
        {{ . }}
        {{ . | dub }}
        {{ . | dub | sq }}
        {{ . | dub | sq | sqrt }}
    </body>
</html>