<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>nested templates</title>
    </head>
    <body>  
        <h1>current value : {{.}}</h1>
        <p>{{template "mybluesocks" .}}</p>
    </body>
</html>