<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>accessing methods in templates</title>
    </head>
    <body>
        <p>Hello my name is {{.Name}} and I am {{.Age}}</p>
        <p>My age x2 is {{.DubMyAge}}</p>
        <p>My age x4 is {{.DubMyAge | .DubMyDubbedAge}}</p>
    </body>
</html>