<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Data formatting with Go</title>
    </head>
    <body>
        <p>Without date formatting: {{.}}</p>
        <p>With data formatting: {{fdateMDY .}}</p>
    </body>
</html>