<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>my title</title>
</head>
<body>
    {{$name:= .Name}}
    {{$age := .Age}}
    <p>My Name is {{$name}} and I am {{$age}} years old</p>
</body>
</html>