<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>template</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="q">
            <input type="submit">
        </form>
        {{.}}
    </body>
</html>