<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>
        <strong>Index</strong>
        <a href="/">index</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
        <a href="/apply">apply</a>
        <form method="POST" action="/apply">
            <input type="submit" value="apply">
        </form>
    </body>
</html>